#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi
#define WIFI_SSID "Your WI-FI Name"
#define WIFI_PASSWORD "password"

// Firebase
#define FIREBASE_HOST "Your database host name"                     //  like - project-id.region.firebasedatabase.app
#define FIREBASE_AUTH "secret_id"                                   //  like - s5d2dNGaDyfQLLxxxxxxxxxxxxxxxxxxxxxxxx

#endif


//  remember -- replace the ".example" by ".h" and then use the project.
//  this is like .env file.